
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>category name</th>
                            <th>icon</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of categoryList; let i = index">
                            <td> {{i+1}} </td>
                            <td> {{item.name}} </td>
                            <td> {{item.icon}} </td>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="editCategory(item)" >Edit</button> |
                                <button class="btn btn-success btn-sm" (click)="addCategory()" >Add</button> |
                                <button class="btn btn-danger btn-sm" (click)="deleteCategory(item.categoryId)" >Delete</button>
                                <!-- <button class="btn btn-secondary btn-sm" [routerLink]="['/product' , product.productId]">View</button>  -->
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header p-3">
                        <h3 class="text-center">{{isEdit ? 'Edit' : 'Add' }} Category</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger mb-4 mt-2 d-none"></div>
                        <form [formGroup]="myForm" (ngSubmit)="isEdit ? EditCategory() : AddCategory()" >

                            <input type="hidden" id="name" class="form-control"  formControlName="categoryId" *ngIf="isEdit">

                            
                            <div class="form-group mb-4">
                                <div class="form-floating ">
                                    <input type="text" id="name" class="form-control" placeholder="category name" formControlName="name">
                                    <label for="name">category name</label>
                                </div>
                            </div>
                            <div class="form-group mb-5">
                                <div class="form-floating ">
                                    <input type="text" class="form-control" id="icon" placeholder="icon"  formControlName="icon">
                                    <label for="icon">icon</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mb-4">
                                <button type="submit" class="btn btn-success px-4"> {{isEdit ? 'Edit' : 'Add' }} Category</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>