<!-- 
<div class="card"  >
    <img [src]="'data:image/jpeg;base64,' + product.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="ms-auto">{{product.price}}</p>

      <div class="d-flex justify-content-between">
        <a [routerLink]="['/product', product.productId]" class="btn btn-primary">See</a>
          <button type="submit" class="btn btn-primary" (click)="AddToCart()"> Add to Cart</button>
      </div>
    </div>
  </div> -->


  
  <div class="box ms-3">
    <div class="box-img">
      <img  [src]="'data:image/jpeg;base64,' + product.image" class="card-img-top" [alt]="product.name">
      <span class="cart-hover"></span>
      <div class="cart-btn">
      <button type="button" [routerLink]="['/product', product.productId]" class="product-profite me-4" ><i class="fa-solid fa-magnifying-glass"></i></button>
      <button type="submit" class="product-cart" (click)="AddToCart()"> <i class="fa-regular fa-plus"></i></button>
      </div>
    </div>
   <div class="mt-2">
    <p>{{product.name}}</p>
    <div class="product-price">
      <span class="me-3 {{product.discount ?'text-decoration-line-through':''}}" >{{product.price}}</span>
      <span class="text-danger"> {{product.discount ? product.price - product.discount : '' }}</span>
    </div>
   </div>
  

  </div>   




